<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Blood Bridge</h1>
    <p class="lead">
      A Central Blood Bank Management System (CBMS) aims to streamline the process of blood donation, management, and distribution.
    </p>
    <hr class="my-4">
    <p>
      Join us in saving lives by donating blood and helping those in need.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>

<footer class="bg-light text-center text-lg-start mt-5">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Blood Bridge is dedicated to managing and distributing blood efficiently. Our mission is to ensure that every patient in need of blood receives it promptly.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Services</h5>
        <p>
          We offer a range of services including blood donation camps, blood storage, and distribution to hospitals and clinics.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>
          Email: support@bloodbridge.com<br>
          Phone: +123 456 7890<br>
          Address: 123 Blood Bridge Lane, Health City
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h5>Follow Us</h5>
        <a href="#" class="btn btn-outline-dark btn-social mx-1"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="btn btn-outline-dark btn-social mx-1"><i class="fab fa-twitter"></i></a>
        <a href="#" class="btn btn-outline-dark btn-social mx-1"><i class="fab fa-instagram"></i></a>
        <a href="#" class="btn btn-outline-dark btn-social mx-1"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="text-center p-3 bg-dark text-white">
    &copy; 2023 Blood Bridge. All rights reserved.
  </div>
</footer>

<!-- Add Font Awesome for social media icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>